<h4>🎨 Materiais Criativos</h4>

<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Novo Criativo</h5>
                <a asp-controller="Materiais" asp-action="Create" class="btn btn-success">Criar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Materiais</h5>
                <a asp-controller="Materiais" asp-action="Index" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>

</div>
