<div class="row">

    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5>Campanhas</h5>
                <p>Gestão completa</p>
                <a asp-controller="Campanhas" asp-action="Index" class="btn btn-primary">Aceder</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5>Clientes</h5>
                <p>Gerir clientes</p>
                <a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Aceder</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5>Funcionários</h5>
                <p>Gestão da equipa</p>
                <a asp-controller="Funcionarios" asp-action="Index" class="btn btn-primary">Aceder</a>
            </div>
        </div>
    </div>

</div>
