@model AdFlow.Models.Campanha

@{
    ViewData["Title"] = "Editar Campanha";
}

<h1>Editar Campanha</h1>
<br>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br>
            @* <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div> *@
            <br>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<AdFlow.Models.Enums.TipoCampanha>()"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Orcamento" class="control-label"></label>
                <input asp-for="Orcamento" class="form-control" />
                <span asp-validation-for="Orcamento" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Prioridade" class="control-label"></label>
                <select asp-for="Prioridade" class="form-control" asp-items="Html.GetEnumSelectList<AdFlow.Models.Enums.Prioridade>()"></select>
                <span asp-validation-for="Prioridade" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<AdFlow.Models.Enums.StatusCampanha>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
                <span asp-validation-for="FuncionarioId" class="text-danger"></span>
            </div> *@
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
